.content {
  background-color: white;
  width: 96%;
  margin-left: 2%;
  padding: 2% 0 5% 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
  text-align: center;
  position: relative;


  h1 {
    width: 1000px;
    margin-bottom: 20px;
  }

  input {
    width: 50%;
    font-size: 1em;
  }

  .bt {
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    position: relative;
    background-color: #000000;
    margin: 2vw 0 2vw 0;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #5e5e5e;
    }
  }
}