.selectWrapper{
  border-radius:3vw;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}

.selectWrapper select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
  color: red;
}

.selectWrapper select option[value="2"] {
  background: rgba(150, 150, 150, 0.3);
  color: red;
}

.selectWrapper select option[value="3"] {
  background: rgba(200, 200, 200, 0.3);
  color: red;
}